<h2>Products</h2>
<div *ngIf="dogImgs.length !== 0 else loading">
	<img src={{dogImgs}} height="350px" width="350x" alt="img dog">
</div>
	<br />
	<ng-template #loading>
		Loading....
	</ng-template>
	<button mat-raised-button color="accent" (click)="reLoadImg()">
    Load Image Puppies
  </button>
	<div *ngFor="let product of products">
		<a [title]="product.name + ' details'" [routerLink]="['./product',product.id]">
			<h3>{{product.name}}</h3>
		</a>
		<p *ngIf="product.description">
			Description :{{product.description}}
		</p>
		<button mat-raised-button color="accent" (click)="share()">
    Share :3
  </button>
		<app-product-alert [product]="product" (notify)="onNotify()"></app-product-alert>
	</div>